@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Raleway:wght@100;400;500;600;700&display=swap');

body{
margin:0;
min-height:100vh;
 
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;

color: #333333;
font-family: 'Raleway';
font-style: normal;
}

main{
  width:100%;
  margin-top:101px;
  margin-bottom:93px;

}


footer{
width: 100%;
text-align: center;
font-family: 'Montserrat';
}

footer em{
  font-style: normal;
  font-weight: bold;
}
